$header-tb-padding: 50px;
$header-rl-padding: 0px;

@import "interface/blocks/logo";
@import "interface/blocks/lang";

.pageheader {
  background-color: $blue;
  color: #fff;
  position: relative;

  .center {
    padding: $header-tb-padding $header-rl-padding;

    @include mobile {
      $header-tb-padding: 25px;
      $header-rl-padding: 15px;
      padding: $header-tb-padding $header-rl-padding;
    }
  }
}

.page-name {
  font-size: rem(46px);
  line-height: 1.2;
  font-weight: bold;
  max-width: 485px;
  margin: 1em 0 0;

  @include tablet-l {
    font-size: rem(36px);
    max-width: 400px;
    margin-top: 70px;
  }

  @include tablet-p {
    font-size: rem(34px);
    width: auto;
  }

  @include mobile {
    font-size: rem(30px);
    margin-top: 35px;
    max-width: 100%;
  }
}

.page-description {
  font-size: rem(18px);
  max-width: 405px;
  margin: 1.2em 0 2em;

  @include tablet-l {
    max-width: 400px;
  }

  @include mobile {
    font-size: rem(16px);
    max-width: 100%;
  }
}
