@font-face {
    font-family: 'MuseoSans';
    font-weight: 300;
    src: url("../../fonts/exljbrismuseosanscyrl300.woff2") format("woff2"),
         url("../../fonts/exljbrismuseosanscyrl300.woff") format("woff");
}

@font-face {
    font-family: 'MuseoSans';
    font-weight: 700;
    src: url("../../fonts/exljbrismuseosanscyrl700.woff2") format("woff2"),
         url("../../fonts/exljbrismuseosanscyrl700.woff") format("woff");
}
