%button {
	font-size: rem(18px);
	font-weight: bold;
	padding: 14px 35px;
	border-radius: 50px;
	text-align: center;
	transition: background .15s, color .15s, transform .15s;
	border: none;
	position: relative;
	align-items: center;

	&:active {
		transform: translate3d(0, 1px, 0);
	}

	&:focus {
		outline: 0;
		box-shadow: 0 0 7px $blue;
	}

  @at-root &[disabled] {
    pointer-events: none;
    background-color: #e6e4e4;
    color: #a2a2a2;
  }

	@at-root a#{&} {
		display: inline-block;
		vertical-align: top;
	}

	@at-root span#{&} {
		display: inline-block;
		vertical-align: top;
	}
}

@mixin btn-border {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 99px;
	border: 2px solid #fff;
	opacity: 1;
	transition: opacity .15s;
}

.trans-btn {
	@extend %button;
	color: #fff;
	background-color: transparent;

	&:after {
		@include btn-border;
	}

	&:hover {
		background-color: $yellow;
		color: $textcolor;

		&:after {
			opacity: 0;
		}
	}
}

.yellow-btn {
	@extend %button;
	color: $textcolor;
	background-color: $yellow;

	&:hover {
		background-color: $blue;
		color: #fff;
	}

	&--alt {
		&:after {
			@include btn-border;
			opacity: 0;
		}

		&:hover {
			color: #fff;
			background-color: transparent;

			&:after {
				opacity: 1;
			}
		}
	}
}

.blue-btn {
	@extend %button;
  color: #fff;
  background-color: $blue;

  &:hover {
    background-color: $yellow;
    color: $textcolor;
  }
}

.big-btn {
	height: 65px;
	line-height: 65px;
	border-radius: 60px;
	font-size: rem(24px);
	padding: 0 50px;
}

.small-btn {
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	font-size: rem(14px);
	padding: 0 20px;
}

// .icon-btn {
// 	svg {
// 		display: inline-block;
// 		vertical-align: middle;
// 		margin-right: 4px;
// 	}
// }
