// .tabs>.tabs__nav>li>a.tabs__nav-item^^.tabs__pane

.tabs {
	&__nav {
		display: flex;
		position: relative;

		&:after {
			position: absolute;
			width: 100%;
			content: '';
			left: 0;
			bottom: 0;
			z-index: 1;
			border-top: 1px solid $grey;
		}
	}

	li + li {
		margin-left: -1px;
	}

	&__nav-item {
		padding: 10px 25px;
		color: #929fa7;
		background-color: #eff2f4;
		border: 1px solid $grey;
		display: block;
		position: relative;
		font-size: rem(14px);
		transition: background-color .2s, color .2s;

		&:hover {
			color: #3c474e;
			background-color: tint(#eff2f4, 30%);
			z-index: 1;
		}

		&.current {
			color: #3c474e;
			background-color: #fff;
			border-bottom: 1px solid #fff;
			z-index: 10;
		}

		@include mobile {
			@at-root li:first-child & {
				border-left: 0;
			}
		}
	}

	&__pane {
		padding: 30px 0;
	}
}
